.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
  
}

/* src/App.css */
.aos-init.aos-animate:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
}

.aos-init.aos-animate:active {
  transform: scale(1.1);
  box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.3);
}

html {
  scroll-behavior: smooth;
}

/* @import url('https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&family=Silkscreen:wght@400;700&family=VT323&display=swap');
.vt323-regular {
  font-family: "VT323", serif;
  font-weight: 400;
  font-style: normal;

  fontFamily: 'VT323, serif' 
} */


/* @import url('https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&family=Press+Start+2P&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Silkscreen:wght@400;700&family=VT323&display=swap');

.quantico-regular {
  font-family: "Quantico", serif;
  font-weight: 400;
  font-style: normal;
} */




/* @import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Playwrite+MX+Guides&family=Press+Start+2P&family=Quantico&family=Silkscreen:wght@400;700&family=Sixtyfour&family=Tiny5&family=VT323&display=swap');
.sixtyfour-regular {
  font-family: "Sixtyfour", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
} */




@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Jersey+10+Charted&family=Micro+5&family=Playwrite+MX+Guides&family=Press+Start+2P&family=Quantico&family=Silkscreen:wght@400;700&family=Sixtyfour&family=Tiny5&family=VT323&family=Workbench&display=swap');

.workbench-normal {
  font-family: "Workbench", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

/*Bruno Ace SC, serif*/