.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
  
}

/* src/App.css */
.aos-init.aos-animate:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
}

.aos-init.aos-animate:active {
  transform: scale(1.1);
  box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.3);
}

html {
  scroll-behavior: smooth;
}


@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Jersey+10+Charted&family=Micro+5&family=Playwrite+MX+Guides&family=Press+Start+2P&family=Quantico&family=Silkscreen:wght@400;700&family=Sixtyfour&family=Tiny5&family=VT323&family=Workbench&display=swap');

.workbench-normal {
  font-family: "Workbench", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

/*Bruno Ace SC, serif*/

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in-out forwards;
}

.navbarButton a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f00;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.Button a:hover {
  color: #f00;
  /* Change the text color on hover to match the sliding bar color */
}

.Button a:hover::before {
  transform: scaleX(1);
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 12vw; 
  }
}
@media (min-width: 769px) {
  h1 {
    font-size: 4rem;
  }
}